$color-black: #0a0a0a;
$color-white: #ffffff;
$color-gray: #cfc9c9;
$color-gray2: #969696;

$font-size-base: 16px;
$font-size-text: 20px;
$font-size-additional-text: 14px;

$font-size-base-mobile: 14px;
$font-size-text-mobile: 16px;
$font-size-additional-text-mobile: 13px;
